{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<title>SB Admin 2 - Blank</title>
<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" static_added="True" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" static_added="True"/>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
<div class="d-flex flex-column" id="content-wrapper">
<!-- Main Content -->
<div id="content">
{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Profile</h1>
<div class="card shadow mb-4">
    <div class="row">
        <div class="col-xl-8 col-lg-7">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
        </div>
        <div class="card-body">
        <div class="chart-area">
        <canvas id="myAreaChart"></canvas>
        </div>
        <hr/>
                                            Styling for the area chart can be found in the
                                            <code>/js/demo/chart-area-demo.js</code> file.
                                        </div>
        </div>
        <!-- Bar Chart -->
        <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
        </div>
        <div class="card-body">
        <div class="chart-bar">
        <canvas id="myBarChart"></canvas>
        </div>
        <hr/>
                                            Styling for the bar chart can be found in the
                                            <code>/js/demo/chart-bar-demo.js</code> file.
                                        </div>
        </div>
        </div>
        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
        <div class="chart-pie pt-4">
        <canvas id="myPieChart"></canvas>
        </div>
        <hr/>
                                            Styling for the donut chart can be found in the
                                            <code>/js/demo/chart-pie-demo.js</code> file.
                                        </div>
        </div>
        </div>
        </div>
</div>
</div>
<!-- /.container-fluid -->
</div>
{% include 'footer.html' %}
<!-- Restante do código HTML -->
<!-- Bootstrap core JavaScript-->

</body>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" static_added="True"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" static_added="True"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}" static_added="True"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}" static_added="True"></script>
<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}" static_added="True"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}" static_added="True"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}" static_added="True"></script>
<script src="{% static 'js/demo/chart-bar-demo.js' %}" static_added="True"></script>
</html>
